
.dashboard-container {
  width: 100vw;
  height: auto;
  /* background-color: rgb(26, 26, 26); */
  z-index: 100000;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background: radial-gradient(circle, rgb(57, 57, 57) 0%, rgb(0, 0, 0) 100%);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  font-family: 'Poppins', sans-serif;
}


.boost-dashboard-container p {
  font-size: 2rem;
  padding: 0 5% 0 5%;
  color: white;
}

.boost-dashboard-btn {
  text-decoration: none;
  width: 20rem;
  height: 5rem;
  background-color: transparent;
  outline: none;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.5rem;
  margin-top: 8.5%;
  border-radius: 25px;
}

.boost-dashboard-btn:hover {
  color: black;
  background-color: rgba(255, 255, 255, 0.173);
}

.dashboard-instructions {
  margin-top: 5%;
}

.dashboard-list {
  list-style: none;
}


.dashboard-img img {
  height: 100%;
  width: 90%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.dashboard-info-container {
  line-height: 3rem;
  width: 100%;
  padding: 0 10% 0 10%;
  background-color: black;
  height: 100vh;
  position: absolute;
  left: 50;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* text-align: center; */
  color: white;
  font-size: 1.5rem;
  background: radial-gradient(circle, rgb(57, 57, 57) 0%, rgb(0, 0, 0) 100%);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

.whatisboost {
  color: white;
  letter-spacing: .2rem;

}

.dashboard-main {
  position: absolute;
  top: 37%;
  left: 38%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.dashboard-anchor {
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
