.dashboard {
  font-family: 'Poppins', sans-serif;
  background-color: transparent;
  background: black;
  color: white;
}

.dashboard-header {
  font-weight: bolder;
}

.dashboard-container {
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  padding-right: 5%;
  background-color: rgba(0, 0, 0, 0);
}

.boost-dashboard-container {
  width: 100vw;
  height: 90vh;
  /* background: linear-gradient(153deg, rgba(0,0,0,1) 30%,  rgba(255,89,21,1) 100%); */
  background-color: black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: white;
}

.boost-dashboard-container p {
  font-size: 2rem;
  padding: 0 5% 0 5%;
  color: white;
}

.boost-dashboard-btn {
  text-decoration: none;
  width: 20rem;
  height: 5rem;
  background-color: rgb(162, 68, 31);
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.5rem;
}
