nav {
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  padding-right: 5%;
  animation: navFade 0.5s ease-in-out;
  border-bottom: 1px solid rgba(0, 0, 0, 0.249);
}

.nav-name {
  font-family: "Poppins", sans-serif;
  color: white;
  margin-right: 1%;
  margin-left: 1%;
}

.nav-link {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  color: white;
  font-weight: bolder;
  padding-right: 3%;
  animation: navFade 1.5s ease-in;
}

.nav-link:hover {
  opacity: 0.5;
}

.nav-brand {
  list-style: none;
  text-decoration: none;
  color: white;
}

.navbar {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  color: white;
}

.nav-dropdown {
  color: white;
}

.nav-logo {
  position: absolute;
  top: 3%;
  left: 0;
  margin-left: 5%;
  filter: drop-shadow(0 1rem 1.5rem black);
}

.profile-pic {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50px;
  width: 1.5rem;
  height: 1.5rem;
  margin: 0 .3% 0 .3%;
  filter: drop-shadow(0 1rem 1.5rem black);
  animation: navFade 1.5s ease-in;
  margin-right: 1%;
  margin-left: 1%;
}


.profilepic-container {
  z-index: 100000000000;
  background-color: rgba(0, 0, 0, 0.934);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0%;
  left: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.profilepic-input {
  width: 30rem;
  height: 2.5rem;
  margin-right: 1%;
}

.profilepic-input::placeholder{
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  padding-left: 2%;
}

.profilepic-submit {
  outline: none;
  border: none;
  background-color: rgb(3, 208, 244);
  color: white;
  cursor: pointer;
  width: 2.5rem;
  height: 2.404rem;
}

.profilepic-exit {
  color: white;
  position: absolute;
  top: 10%;
  right: 10%;
  cursor: pointer;
}


@keyframes navFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}



@media only screen and (max-width: 815px) {
  nav {
    height: 8rem;
    width: 100%;
    padding-right: 0;
  }
  .nav-link {
    display: none;
  }
  .nav-logo {
    margin-top: 5%;
  }
  .nav-name {
    margin-right: 7%;
    margin-left: 7%;
  }
  .profile-pic {
    margin-right: 7%;
    margin-left: 7%;
  }
  .dropdown {
    margin-right: 7%;
    margin-left: 7%;
  }
  .dropbtn {
    min-width: 2rem;
    margin-right: 7%;
    margin-left: 7%;
  }
}